html, body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

nav a {
    background-color: black !important;
    border: 2px solid white !important;
}

nav a i {
    color: white;
    vertical-align: center;
}

main {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
      
    scrollbar-width: none;
    -ms-overflow-style: none;

    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    display: none;
}

#scrollContainer {
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;

}

section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

#nav {
    /*background-image: url("./../images/stars.jpg");
    background-size:cover*/
    background-color: #0A1045;
}

#nav ul {
    list-style-type: none;
}

#nav ul a {
    color: white;
}

#nav ul a h2 {
    font-size: 48pt;
    font-weight: 900;
}

#front {
    background-image: url("./../images/background.jpg");
    background-size:cover
}

#front .nameBox h1 {
    font-size: 48pt;
    color: white;
    text-align: center;
    font-weight: 900;
}

#front .nameBox h3 {
    color: white;
    text-align: center;
}

#projects {
    background-color: black;
    position: relative;
}

.carousel-control-prev {
    z-index: 998;
}

.carousel-control-next {
    z-index: 998;
}

.carousel-item * {
    position: relative;
}

.carousel-item iframe {
    position: relative;
    z-index: 0;
}

#projects iframe {
    width: 100vw !important;
    height: 100vh !important;
    pointer-events: none; 
    filter: blur(7px);
}

#projects .projectContent {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.projectContent article {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.skillsContainer {
    width: 100%;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
}


.skill {
    width: auto;
    padding: 5px;
    height: 40px;
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
    border-radius: 10px;
}

#projects .comingSoon {
    width: 100vw;
    height: 100vh;
    background-color: #0A1045;
}

#projects .comingSoon h1 {
    color: white;
}

#about {
    background-color: #0A1045;
    overflow: hidden;
}

#about .container {
    background-color: white !important;
    height: 100vh;
    overflow-y: auto;
    box-shadow: black 5px 10px 10px;
}

#profilePic {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

#about .container p {
    font-size: 16pt;
}

#contact {
    background-color: #0A1045;
}

#contactLeft {
    background-color: #0A1045;
}

#contactRight {
    background-color: white;
    position: relative;
    box-shadow: black 5px 10px 10px;
}

#contactLinks {
    width: 100%;
}

#contactLinks a {
    border: 3px solid #0275d8;
}

#contactLinks a:hover {
    background-color: white;
    color: #0275d8;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {

    #nav ul a h2 {
        font-size: 24pt;
    }

    .projectContent article {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 0;
    }

    #contactRight {
        margin-top: 0 !important;
    }

}
